{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You are so lost!</title>
    <link rel="stylesheet" href="{% static "css/rooms.css" %}">
    <nav>
        <a href="dustycellar">Start over</a>
    </nav>
</head><center>
<body>
    <header>
        <h1>{{room_object.title}}</h1>
    </header>
    <h2> {{room_object.subtitle}}</h2>

    <p> {{room_object.description|safe|linebreaks}}</p>

    {% for room in room_object.connected_rooms %}
    {% with room_name=room|cut:' '|lower %}
      <a href="{% url 'display_room' room_name %}">
        <button>{% endwith %} {{ room }}</button></a>

  {% endfor %}
  <footer>
<p class="hidden">{{room_object.hidden_word}}</p>
    </footer>
</body></center>
</html>


{% comment %}
{% for room in room_object.connected_rooms%}
{% with room_name=room|join:''|lower %}
<a href="{% url 'display_room' room_name %}">
<button>{% endwith %} {{ room }}</button>
</a>

{%endfor%}
<footer> {% endcomment %}
